* {
    border-radius: 13px;
    box-sizing: border-box;
  }
  
  body {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input {
    padding: 0;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  p {
    margin: 0;
  }
  
  :root {
    --main-background-color: #baffc2;
    --main-border-color: #f42a1f;
    --main-border: 2px dashed var(--main-border-color);
    --main-font-color: #f42a1f;
    --transition-duration: 0.5s;
  }
  
  .main-container {
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    height: fit-content;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    gap: 20px;
  }
  
  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 15px;
  }
  
  .input-number {
    flex: 1;
    max-width: 250px;
    height: 40%;
    font-size: 27px;
    background-color: inherit;
    padding: 0 10px;
    border: none;
    outline: var(--main-border);
    color: var(--main-font-color);
    font-family: inherit;
  }
  
  .select-operation {
    flex: 1;
    cursor: pointer;
    font-size: 25px;
    color: var(--main-font-color);
    border: none;
    outline: var(--main-border);
    background-color: inherit;
    padding-left: 20px;
    text-align: left;
    max-width: 100px;
    height: 40%;
  }
  
  .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 15px; 
  }
  
  .calc-result {
    cursor: pointer;
    width: 30%;
    height: 40px;
    border: none;
    outline: var(--main-border);
    background-color: inherit;
    font-size: 24px;
    color: var(--main-font-color);
    transition: all var(--transition-duration) ease-in-out;
    font-family: inherit;
  }
  
  .calc-result:hover {
    background: var(--main-border-color);
    color: white;
  }
  
  .result-container {
    --padding-size: 10px;
    width: calc(100% - 2 * var(--padding-size));
    min-height: 100px;
    border: var(--main-border);
    background-color: inherit;
    font-size: 27px;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding-size);
    margin: 0;
    gap: 8px;
  }
  
  .prev-result {
    color: var(--main-font-color);
    opacity: 0.65;
    margin-bottom: 0;
  }
  
  .current-result {
    color: var(--main-font-color);
    font-weight: bold;
  }
  
  @media (max-width: 750px) {
    .main-container {
      padding: 10px;
      gap: 15px;
    }
  
    .top-content {
      flex-direction: column;
      height: auto;
      gap: 10px;
    }
  
    .input-number {
      max-width: initial;
      width: 100%;
      padding: 12px 10px;
      max-height: 60px;
      font-size: 22px;
    }
  
    .select-operation {
        width: 100px;
        height: 25%;
    }
  
    .calc-result {
      width: 60%;
      font-size: 20px;
    }
  
    .bottom-content {
      margin-top: 15px;
    }
  
    .result-container {
      text-align: center;
      font-size: 22px;
      align-items: center;
    }
  
    .prev-result,
    .current-result {
      text-align: center;
    }
  }